<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Compression with KMeans</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>KMeans Clustering Algorithm</h1>

    <label for="text-input">Enter Number of Clusters:</label>
    <input
      type="text"
      id="text-input"
      placeholder="Please do an integer :)"
      onchange="handleInputChange()"
    />

    <div class="select-wrapper">
      <div>initalization method:</div>
      <select id="mySelect" class="custom-select">
        <option value="random">Random</option>
        <option value="ff">Farthest First</option>
        <option value="kmeans">KMeans++</option>
        <option value="manual">Manual</option>
      </select>
    </div>

    <button id="walk">Walk Through KMeans</button>

    <button id="run_to">Run To Convergence</button>

    <button id="gen_new">Generate New Dataset</button>

    <button id="reset">Reset Algorithm</button>

    <div id="graph-container">{{ graph_html|safe }}</div>

    <script src="/static/scripts.js"></script>
  </body>
</html>
